// COLORS
$color-primary: #A071A7;
$color-primary-light: #672770;
$color-primary-dark: #310138;
$color-secondary-light: #FFF61D;
$color-secondary-dark: #BBB400;
$color-tertiary-light:#FFBB73;
$color-tertiary-dark: #BB6000;
$color-grey-dark: #777;
$color-grey-dark-2: #999; 
$color-grey-dark-3: #333;
$color-white: #fff;
$color-black: #000;
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;